header {
    grid-area: header;
    width: 100%;
    position: sticky;
    top: 0;
    background-color: white;
    justify-content: space-between;
    z-index: 100;
}

header::after {
    clear: both;
}
.fa-circle{
    color:#F6AF44
}
.container {
    margin: 0px 10px;
    display: grid;
    padding: auto;
    grid-template-columns: auto 1fr 110px;
    grid-template-rows: 1fr;
    grid-template-areas: 'logo search actions';
}

.logo {
    grid-area: logo;
    background-image: url("../img/logo.jpeg");
    background-repeat: no-repeat;
    width: 320px;
    cursor: pointer;
}

.search {
    grid-area: search;
    justify-self: center;
    margin-top: auto;
    margin-bottom: auto;
    justify-content: left;
}

.inputSearch {
    line-height: 2em;
    margin: 0px;
    display: inline-block;
}

.inputSearch>input {
    width: 35vw;
    line-height: 1.7em;
}
.inputSearch:focus{
    border: solid cornflowerblue;
}

.inputSearch::after {
    font-family: "Font Awesome 5 Free";
    font-weight: 600;
    content: "\f002";
    display: inline-block;
    padding: 0px 9px;
    line-height: 1.40em;
    height: 1.65em;
    border: ridge 1px rgb(97, 89, 89);
    border-left: none;
    background-color: #efefef;
    cursor: pointer;
}
.fa-microphone{
    display: inline;
    line-height: 4em;
    cursor: pointer;
}
.actions {
    grid-area: actions;
    margin-top: auto;
    margin-bottom: auto;
    margin-right: 20px;
    justify-self: right;
}
.avatar:hover .options{
    display: block;
}
.options{
    display: none;
    background-color: white;
    position: fixed;
    top: 70px;
    right: 40px;
    width: 100px;
}
.item{
    width: 100%;
    padding: 10px 2px;
    cursor: pointer;
}
.item:hover{
    background-color: #E8E8E9;
}
.item:last-child{
    border-top: ridge 1px;
    color: red;
}
i {
    display: inline-block;
    color: grey;
    height: 2em;
    justify-self: center;
    cursor: pointer;
}