main{
    grid-area: main;
    z-index: 10;
    display: grid;
    grid-template-rows: 1fr 15px;
}
.content{
    overflow:scroll;
    display: grid;
    grid-template-rows: 70px auto 1fr;
    grid-template-areas: 
    'categoriesArea'
    'carouselArea'
    'videosArea';
    grid-row: 1/2;
    grid-column: 1/3;
}
.categoryRow{
    grid-area: categoriesArea;
    height: 70px;
    white-space: nowrap;
    width: 100%;
    overflow-y: auto;
}
.category:nth-child(1){
    background-color: #F6AF44;
    color: white;
}
.carousel{
    grid-area: carouselArea;
    color:black
}
.category{
    text-align: center;
    justify-self: center;
    display: inline-block;
    border-radius: 25px;
    background-color: #EBEBEB;
    line-height: 1.5em;
    min-width: 50px;
    margin: 16px 4px;
    padding: 5px 10px;
}
.videos_wrapper{
    grid-area: videosArea;
    display: grid;
    overflow-x: hidden;
    overflow-y: auto;
    grid-template-columns: repeat(auto-fill, 320px);
    gap: 10px;
}