aside {
    grid-area: sidebar;
    display: grid;
    grid-template-rows: 70vh 1fr;
    z-index: 0;
    background-color: #EBEBEB;
    height: 100%;
}

.social {
    grid-row: 2/3;
    font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
    justify-content: space-between;
    margin-bottom: auto;
    border-top: ridge 1px white;
    text-align: center;
}
.social span{
    margin-top: 2em;
}
.channels {
    grid-row: 1/2;
    overflow-y: auto;
    overflow-x: hidden;
}

.channelItem {
    min-width: 100px;
    margin: 10px 5px;
    display: grid;
    align-items: center;
    border-top: ridge 1px;
    grid-template-columns: auto 1fr auto;
    cursor: pointer;
}

.channelItem span {
    grid-column: 2/3;
    margin-left: 10px;
    text-overflow: ellipsis;
    display: inline-block;
    white-space: nowrap;
    width: 100px;
    overflow: hidden;
}

.channelIcon {
    grid-column: 1/2;
}

.fa-telegram:hover {
    color: #00A2FF;
}
.fa-instagram:hover {
    color: #d34b41;
}
.fa-facebook:hover {
    color: #1c0097;
}
@keyframes blink {
    0% {
        transform: scale(1);
        opacity: 0
    }
    50% {
        transform: scale (1, 5);
        opacity: 1;
    }
    100% {
        transform: scale(1);
        opacity: 0;
    }
}

.channelIcon {
    background: white;
    text-align: center;
    border-radius: 100%;
    display: inline-block;
    padding: 10px;
    height: 49px;
    margin-left: auto;
}

.channelIcon>img {
    display: block;
    padding-top: 5px;
    max-width: 30px;
    max-height: 30px;
}
.social{
    grid-row: 2/3;
    margin-left: 0;
    margin-right: 0;
}
.social>div{
    background-color: #DFDFDF;
    margin: 10px;
    padding: 10px;
    height: 150px;
}
.links{
    margin-top: 10px;
}
.bulb {
    justify-self: center;
    margin-left: 10px;
    background-color: red;
    display: inline-block;
    border-radius: 50%;
    width: 10px;
    height: 10px;
    opacity: .25;
    animation: blink 3s infinite ease-in;
}
.ratings{
    min-width: 150px;
}
.ratings span {
    display: inline-block;
    margin-right: 10px;
    justify-self: center;
}

@media (max-width:1199px) {
    .channelItem{
        text-align: center;
        min-width: 0px;
    }
    .channels{
        overflow-y: auto;
        overflow-x: hidden;
    }
    .channelItem span{
        display: none;
    }
    .ratings{
        display: none;
    }
    .social{
        display: none;
    }
    aside{
        grid-template-rows: 1fr;
    }
}