* {
    box-sizing: border-box;
}

#app {
    display: grid;
    grid-template-columns: fit-content(20%) 80%;
    grid-template-rows: auto 1fr;
    grid-template-areas: 
    'header header'
    'sidebar main';
    column-gap: 10px;
    margin-left: 0;
    justify-content: space-between;
}
::selection{
    color:white;
    background-color: #F6AF44;
}