.video {
    height: 210px;
    justify-self: start;
    display: grid;
    grid-template-rows: auto 1fr;
}

.windows {
    grid-row: 1/2;
    overflow: hidden;
}

.windows>img {
    width: 320px;
    height: 200px;
}

.windows:hover .selectVideo {
    display: block;
}
@keyframes fadein {
    from { opacity: 0; }
    to   { opacity: 1; }
}
.selectVideo i {
    position: relative;
    top: 90px;
    left: 145px;
    justify-self: center;
    color: white;
    z-index: 70;
    animation: fadein 2s ease-in
}
.selectVideo{
    display: none;
    z-index: 10;
    position: relative;
    top:-205px;
    background-color: rgba(0, 0, 0, 0.5);
    opacity: 100%;
    height: 200px;
    margin-bottom: -200px;
}
.liveTag {
    position: relative;
    width: 40px;
    top: 10px;
    left: 10px;
    margin-bottom: -40px;
    text-align: center;
    background-color: red;
    color: white;
    border-radius: 25px;
}

.videoInfo {
    grid-row: 2/3;
    display: grid;
    grid-template-columns: auto 1fr 30px;
    grid-template-rows: 20px auto;
    grid-template-areas: 'avatarIcon title settings' 'avatarIcon channel channel';
}

.title {
    grid-area: title;
    font-weight: bold;
    margin: auto;
    margin-left: 2.75px;
    font-size: 1.1em;
    text-overflow: ellipsis;
}

.avatarIcon>img {
    justify-self: center;
    grid-row: 1/3;
    grid-column: 1/2;
    display: block;
    padding-top: 4px;
    width: 40px;
    height: 40px;
}

.settings {
    grid-area: settings;
    margin: 12px;
}

.settings>i {
    color: black;
}

.channel {
    grid-area: channel;
    max-width: 1em;
    justify-self: start;
    font-size: 0.94em;
    margin-left: 2.75px;
    color: #BEBEBE;
}